<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>EduPOP 로그인 전 메인 화면</title>
</head>
<body>
<h1>EduPOP에 오신 것을 환영합니다!</h1>

<!-- 일반 로그인 버튼 부분 -->
<a href="/LocalLogin">
    <button>일반 아이디로 로그인</button>
</a>

<!-- 카카오 로그인 버튼 부분 -->
<a href="/kakao/login">
    <img src="https://k.kakaocdn.net/14/dn/btroDszwNrM/I6efHub1SN5KCJjc84hoO1/o.jpg" width="222" alt="카카오 로그인">
</a>

<!-- 아직 가입 안 한 회원의 일반 회원가입 -->
<a href="/signUp">
    <button>일반 회원가입</button>
</a>


</body>
</html>