<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!-- 학생 버튼 -->
<a href="/login/route/student">
    <button style="padding: 10px; background-color: #4CAF50; color: white; border: none; cursor: pointer;">
        학생 로그인
    </button>
</a>

<!-- 강사 버튼 -->
<a href="/login/route/teacher">
    <button style="padding: 10px; background-color: #4CAF50; color: white; border: none; cursor: pointer;">
        교사 로그인
    </button></a>

<!-- 관리자 버튼 -->
<a href="/login/route/admin">
    <button style="padding: 10px; background-color: #4CAF50; color: white; border: none; cursor: pointer;">
        관리자 로그인
    </button>
</a>

<!-- 회원탈퇴 완료시 띄울 안내창 -->
<script th:if="${message != null}">
    alert("[[${message}]]");
</script>

<!-- 다른역할 로그인 시도시 띄울 안내창 -->
<script th:if="${error != null}">
    alert("[[${error}]]");
</script>
</body>
</html>